<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="card">
    <div class="card-body text-center">
      <h1 class="display-4 mb-4">Dog Image Generator</h1>
      <%= form_tag('/dogs/fetch_breed', method: 'get', id: 'dogForm') do %>
        <div class="form-group">
          <%= label_tag 'breedInput', 'Please type your breed below:', class: 'mb-3' %>
          <%= text_field_tag 'breedInput', nil, class: 'form-control mb-3', placeholder: 'Enter dog breed', required: true %>
        </div>
        <%= submit_tag 'Submit', class: 'btn btn-primary', id: "submitButton", data: { disable_with: false } %>
      <% end %>
    </div>
  </div>
  <div id="result" class="mt-4 text-center col-md-6 mx-auto">
    <div id="loadingSymbol" class="spinner-border text-primary" role="status" style="display: none;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <!-- Dog image will be displayed here -->
  </div>  
</div>
